<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slim.min.js' %}"></script>
</head>
<body>
  <div class="sidebar">
    <h4 class="text-center">Dashboard</h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="home-tab">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="profile-tab">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="holding-tab">Holdings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="place-order-tab">Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="websocket-data-tab">WebSocket Data</a>
      </li>
    </ul>
  </div>



  <div class="content">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Sign out</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Profile Section -->
    <div id="profile-section" class="profile-container display-none">
      <div class="profile-card">
      <div class="profile-header">
        <h2>Profile Information</h2>
      </div>
      <div class="profile-content">
        <div class="profile-row">
          <span class="profile-label">User Name:</span>
          <span class="profile-value">{{ profile.user_name }}</span>
        </div>
        <div class="profile-row">
          <span class="profile-label">User ID:</span>
          <span class="profile-value">{{ profile.user_id }}</span>
        </div>
        <div class="profile-row">
          <span class="profile-label">Email:</span>
          <span class="profile-value">{{ profile.email }}</span>
        </div>
        <div class="profile-row">
          <span class="profile-label">Mobile:</span>
          <span class="profile-value">{{ profile.mobile }}</span>
        </div>
        <div class="profile-row">
          <span class="profile-label">Date of Birth:</span>
          <span class="profile-value">{{ profile.date_of_birth }}</span>
        </div>
        <div class="profile-row">
          <span class="profile-label">Broker:</span>
          <span class="profile-value">{{ profile.broker }}</span>
        </div>
        <div class="profile-row">
          <span class="profile-label">User Type:</span>
          <span class="profile-value">Individual</span>
        </div>
      </div>
    </div>
    </div>




    <!-- Place Order Section -->
    <div id="place-order-section" class="display-none">
        <h2 style="text-align: center; color: #333;">Place Order</h2>

        <!-- Form for order submission -->
        <form id="place-order-form" class="place-order-form">
            {% csrf_token %}
            <input class="form-order-input" type="text" id="tradingsymbol" placeholder="Trading Symbol" required />
            <input class="form-order-input" type="number" id="price" placeholder="Price" required />
            <input class="form-order-input" type="number" id="quantity" placeholder="Quantity" required />
            <button class="place-order-button" type="submit" class="btn-submit" style="">
                Place Order
            </button>
        </form>

        <!-- Success message alert -->
        <div id="order-success-message" class="place-order-success">
            Order placed successfully!
        </div>

        <!-- Order History Table -->
        <h3 class="order-history-heading" >Order History</h3>
        <table class="order-history-table" id="order-history-table" border="0">
          <thead class="order-history-thead">
              <tr>
                  <th class="order-history-th">Trading Symbol</th>
                  <th class="order-history-th">Price</th>
                  <th class="order-history-th">Quantity</th>
                  <th class="order-history-th">Status</th>
              </tr>
          </thead>
          <tbody id="order-history-body">
              <!-- Orders will appear here -->
          </tbody>
      </table>
    </div>


    <!-- Holding data -->
    <div id="holding-section" class="display-none">
      <h2 style="">User Holdings</h2>
      <div class="holding-data-div">
        <table class="holding-data-table-ui" border="0" style="">
        <thead class="holding-data-thead" style="">
          <tr>
            <th class="padding-ten" style="padding: 10px;">Trading Symbol</th>
            <th class="padding-ten">Exchange</th>
            <th class="padding-ten">ISIN</th>
            <th class="padding-ten">Quantity</th>
            <th class="padding-ten">Authorised Date</th>
            <th class="padding-ten">Average Price</th>
            <th class="padding-ten">Last Price</th>
            <th class="padding-ten">Close Price</th>
            <th class="padding-ten">PnL</th>
            <th class="padding-ten">Day Change</th>
            <th class="padding-ten">Day Change Percentage</th>
          </tr>
        </thead>
        <tbody>
          {% for holding in holding_data %}
          <tr class="holding-data-tr">
            <td class="padding-ten">{{ holding.tradingsymbol }}</td>
            <td class="padding-ten">{{ holding.exchange }}</td>
            <td class="padding-ten">{{ holding.isin }}</td>
            <td class="padding-ten">{{ holding.quantity }}</td>
            <td class="padding-ten">{{ holding.authorised_date }}</td>
            <td class="padding-ten">{{ holding.average_price }}</td>
            <td class="padding-ten">{{ holding.last_price }}</td>
            <td class="padding-ten">{{ holding.close_price }}</td>
            <td style="padding: 10px; color: {% if holding.pnl < 0 %}red{% else %}green{% endif %};">
              {{ holding.pnl }}
            </td>
            <td class="padding-ten">{{ holding.day_change }}</td>
            <td style="padding: 10px; color: {% if holding.day_change_percentage < 0 %}red{% else %}green{% endif %};">
              {{ holding.day_change_percentage }}%
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      <div class="container mt-5">
        <!-- Card to display total Profit/Loss -->
        <div class="card text-center">
          <div class="card-header">
            <h4>Total Profit/Loss</h4>
          </div>
          <div class="card-body">
            <h2 id="totalProfitLoss">Loading...</h2>  <!-- Placeholder for Total Profit/Loss -->
          </div>
        </div>
      </div>
    </div>

    <!-- Historical Data Section -->
    <div id="home-section" style="display: block;">
      <h2 style="padding-left: 2%;">Historical Data Chart</h2>
      <div class="col" style="padding-top: 2%">
        <div class="row" style="padding-left: 2%">
          <form id="chartFilter" class="form-inline">
            <label for="symbol">Symbol:</label>
            <input type="text" id="symbol" placeholder="Symbol" required>
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" required>
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" required>
            <button type="submit" class="btn-submit">Filter</button>
          </form>
        </div>
        <div class="row">
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>

    <!-- Websocket Connection Data -->
    <div id="websocket-data-section" class="display-none">
      <h2 style="text-align: center;">Live Stock Price Feed</h2>
      <table id="stocks-table" class="stock-table-style">
        <thead>
          <tr class="stock-table-tr">
            <th style="padding: 10px;">Stock Symbol</th>
            <th style="padding: 10px;">Price</th>
          </tr>
        </thead>
        <tbody id="stocks-list">
          <tr id="row-AAPL">
            <td>AAPL</td>
            <td id="price-AAPL">$150.00</td>
          </tr>
          <tr id="row-GOOGL">
            <td>GOOGL</td>
            <td id="price-GOOGL">$2750.00</td>
          </tr>
          <tr id="row-AMZN">
            <td>AMZN</td>
            <td id="price-AMZN">$3500.00</td>
          </tr>
          <tr id="row-TSLA">
            <td>TSLA</td>
            <td id="price-TSLA">$1000.00</td>
          </tr>
          <tr id="row-MSFT">
            <td>MSFT</td>
            <td id="price-MSFT">$300.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
<script>
    // Select all section divs and links
    document.addEventListener("DOMContentLoaded", function () {
        // Select all navigation links
        const navLinks = document.querySelectorAll(".nav-link");

        // Add a click event listener to each link
        navLinks.forEach(link => {
          link.addEventListener("click", function () {
            // Remove 'active' class from all links
            navLinks.forEach(nav => nav.classList.remove("active"));

            // Add 'active' class to the clicked link
            this.classList.add("active");
          });
        });
      });


    let chart = new Chart(document.getElementById('chart'), {
        type: 'line',
        data: {
            labels: ['No Data'],
            datasets: [{
                label: 'Price',
                data: [],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Price'
                    },
                    beginAtZero: true
                }
            }
        }
    });

    // Event listener for "Filter" form
    document.getElementById('chartFilter').addEventListener('submit', async (e) => {
        e.preventDefault();
        const symbol = document.getElementById('symbol').value;
        const fromDate = document.getElementById('fromDate').value;
        const toDate = document.getElementById('toDate').value;

        const response = await fetch(`/api/historical-data/?symbol=${symbol}&from_date=${fromDate}&to_date=${toDate}`);
        const data = await response.json();

        const labels = data.map(item => item.date);
        const prices = data.map(item => item.price);

        chart.data.labels = labels.length > 0 ? labels : ['No Data'];
        chart.data.datasets[0].data = prices.length > 0 ? prices : [];
        chart.update();
    });

    // Toggle between sections
    document.getElementById('home-tab').addEventListener('click', () => {
        document.getElementById('home-section').style.display = 'block';
        document.getElementById('place-order-section').style.display = 'none';
        document.getElementById('holding-section').style.display = 'none';
        document.getElementById('profile-section').style.display = 'none';
        document.getElementById('websocket-data-section').style.display = 'none';
    });

    document.getElementById('profile-tab').addEventListener('click', () => {
        document.getElementById('home-section').style.display = 'none';
        document.getElementById('place-order-section').style.display = 'none';
        document.getElementById('holding-section').style.display = 'none';
        document.getElementById('profile-section').style.display = 'block';
        document.getElementById('websocket-data-section').style.display = 'none';
    });

    document.getElementById('holding-tab').addEventListener('click', () => {
        document.getElementById('home-section').style.display = 'none';
        document.getElementById('place-order-section').style.display = 'none';
        document.getElementById('holding-section').style.display = 'block';
        document.getElementById('profile-section').style.display = 'none';
        document.getElementById('websocket-data-section').style.display = 'none';
    });

    document.getElementById('place-order-tab').addEventListener('click', () => {
        document.getElementById('home-section').style.display = 'none';
        document.getElementById('place-order-section').style.display = 'block';
        document.getElementById('holding-section').style.display = 'none';
        document.getElementById('profile-section').style.display = 'none';
        document.getElementById('websocket-data-section').style.display = 'none';
        get_orders();
    });

    document.getElementById('websocket-data-tab').addEventListener('click', () => {
        document.getElementById('home-section').style.display = 'none';
        document.getElementById('websocket-data-section').style.display = 'block';
        document.getElementById('place-order-section').style.display = 'none';
        document.getElementById('holding-section').style.display = 'none';
        document.getElementById('profile-section').style.display = 'none';
<!--        liveData();-->
    });

    const holdings_data = {{ holding_data|safe }};
    console.log(holdings_data); // Check the data in browser console

    // Function to calculate total Profit/Loss
    // Function to calculate total Profit/Loss
    function calculateTotalPnL(holdings) {
      let totalPnL = 0;
      holdings.forEach(holding => {
        // Ensure the pnl is treated as a number
        totalPnL += parseFloat(holding.pnl);  // Use parseFloat to ensure it's a number
      });
      return totalPnL;
    }

    // Calculate and display total Profit/Loss
    const totalProfitLoss = calculateTotalPnL(holdings_data);
    console.log('Total Profit/Loss:', totalProfitLoss);  // Check the value in console

    // Check if totalProfitLoss is a valid number
    if (!isNaN(totalProfitLoss)) {
      document.getElementById("totalProfitLoss").textContent = `$${totalProfitLoss.toFixed(2)}`;
    } else {
      console.error('Total Profit/Loss is not a valid number');
      document.getElementById("totalProfitLoss").textContent = 'Invalid Data';
    }

    // Array to store placed orders
    function showOrderSuccessMessage() {
        const successMessage = document.getElementById('order-success-message');
        successMessage.style.display = 'block';

        // Hide message after 5 seconds
        setTimeout(() => {
            successMessage.style.display = 'none';
        }, 5000);
    }

    document.getElementById('place-order-form').addEventListener('submit', function(e) {
        e.preventDefault();

        // Get the values from the form
        const tradingsymbol = document.getElementById('tradingsymbol').value;
        const price = document.getElementById('price').value;
        const quantity = document.getElementById('quantity').value;

        // Add the order to the order history table (frontend)
        const orderHistoryBody = document.getElementById('order-history-body');
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td style="padding: 12px; text-align: left;">${tradingsymbol}</td>
            <td style="padding: 12px; text-align: left;">${price}</td>
            <td style="padding: 12px; text-align: left;">${quantity}</td>
            <td style="padding: 12px; text-align: left;">Placed</td>
        `;
        orderHistoryBody.appendChild(newRow);

        // Show success message
        showOrderSuccessMessage();

        // Send the data to the backend
        fetch('/place-order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,  // CSRF token for security
            },
            body: JSON.stringify({
                tradingsymbol: tradingsymbol,
                price: price,
                quantity: quantity,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Optionally update the UI if the backend successfully stores the order
                console.log('Order placed successfully');
            } else {
                console.error('Failed to place order');
            }
        })
        .catch(error => console.error('Error placing order:', error));

        // Optionally clear the form
        document.getElementById('place-order-form').reset();
    });

    function get_orders() {
    // Fetch the CSRF token from the form (if the CSRF token is included in the form)
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;

        if (!csrfToken) {
            console.error("CSRF token not found!");
            return;
        }

        // Fetch the user's orders when the page loads
        fetch('/get-user-orders/', {
            method: 'GET',
            headers: {
                'X-CSRFToken': csrfToken,  // CSRF token for security
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const orders = data.orders;
                const orderHistoryBody = document.getElementById('order-history-body');

                // Clear the table body before adding the orders
                orderHistoryBody.innerHTML = '';

                // Add each order to the table
                orders.forEach(order => {
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td style="padding: 12px; text-align: left; border-bottom: 1px solid #f1f1f1;">${order.tradingsymbol}</td>
                        <td style="padding: 12px; text-align: left; border-bottom: 1px solid #f1f1f1;">₹${order.price}</td>
                        <td style="padding: 12px; text-align: left; border-bottom: 1px solid #f1f1f1;">${order.quantity}</td>
                        <td style="padding: 12px; text-align: left; border-bottom: 1px solid #f1f1f1;">${order.status}</td>
    <!--                    <td style="padding: 12px; text-align: left;">${order.status}</td>-->
                    `;
                    orderHistoryBody.appendChild(newRow);
                });
            } else {
                console.error('Failed to fetch orders');
            }
        })
        .catch(error => console.error('Error fetching orders:', error));
    }

    function liveData() {
      const stockList = document.getElementById("stocks-list");
      const socket = new WebSocket('ws://127.0.0.1:8001/ws/stocks/');

      // When WebSocket is opened
      socket.onopen = function(e) {
          console.log("WebSocket connection established.");
      };

      // When receiving data from the WebSocket
      socket.onmessage = function(e) {
          const data = JSON.parse(e.data);

          // Check if 'stocks' is present and is an array
          if (data && Array.isArray(data.stocks)) {
              updateStockPrices(data.stocks);
          } else {
              console.error("Invalid data received:", data);
          }
      };



      // When WebSocket is closed
      socket.onclose = function(e) {
          console.log("WebSocket connection closed.");
      };

      // Error handling
      socket.onerror = function(e) {
          console.error("WebSocket error:", e);
      };


    }
    // Function to update the stock prices on the frontend
    function updateStockPrices(stockData) {
        if (!stockData || !Array.isArray(stockData)) {
            console.error('Invalid stock data:', stockData);
            return;
        }

        // Iterate over the stocks array
        stockData.forEach(stock => {
            const stockElement = document.getElementById(`price-${stock.symbol}`);
            if (stockElement) {
                stockElement.textContent = `$${stock.price.toFixed(2)}`;
            }
        });
    }

    liveData();
</script>
