<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <h2>Register</h2>-->
<!--    <label>Username:</label>-->
<!--    <input type="text" name="username" required>-->
<!--    <label>Email:</label>-->
<!--    <input type="email" name="email" required>-->
<!--    <label>Password:</label>-->
<!--    <input type="password" name="password" required>-->
<!--    <button type="submit">Register</button>-->
<!--    <p>Already have an account? <a href="/">Login here</a></p>-->
<!--</form>-->
<!DOCTYPE html>
{% load static %}

<html lang="en" style="background-color: #F5F7F8">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>True Beacon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div>
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
		<div class="row main-content bg-success text-center" style="height: 480px;">
			<div class="col-md-4 text-center company__info">
				<img src="{% static 'images/true_beacon.jpg' %}" alt="Example Image">
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form " s>
				<div class="container-fluid" style="padding-top: 10%">
					<div class="row">
						<h2>Register</h2>
					</div>
					<div class="row">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username" required>
							</div>
                            <div class="row">
								<input type="email" name="email" id="email" class="form__input" placeholder="Email" required>
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password" required>
							</div>
							<div class="row">
								<input type="submit" value="Register" class="btn" style="height: 30px;">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Already have an account? <a href="/">Login Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</div>
</body>
</html>